<footer class="site-footer">
	<div class="container">
		<div class="footer-content">
			<div class="footer-left">
				<div class="footer-logo">
					<img alt="Croc Studios logo" src="/img/CS_LOGO.png" width="125" height="70" /> 
				</div>
				<nav class="social-links">
					<a href="https://mastodon.social/@croc" rel="me" title="Mastodon">
						<i class="fab fa-mastodon"></i>
					</a>
					<a href="https://github.com/crock" title="GitHub">
						<i class="fab fa-github"></i>
					</a> 
					<a href="https://dribbble.com/croc" title="Dribbble">
						<i class="fab fa-dribbble"></i>
					</a> 
				</nav>
			</div>
			<div class="footer-links">
				<div class="footer-column">
					<h3>
						Links 
					</h3>
					<ul>
						<li><a href="/uses">Uses</a></li>
					</ul>
				</div>
				<div class="footer-column">
					<h3>
						Resources 
					</h3>
					<ul>
						<li><a target="_blank" href="https://domain.news/?ref=croc.io">Domain News</a></li>
						<li><a target="_blank" href="https://domainquest.fun/?ref=croc.io">Domain Quest</a></li>
						<li><a target="_blank" href="https://topwebsite.com/?ref=croc.io">Website Directory</a></li>
						<li><a target="_blank" href="https://www.domaincord.com/?ref=croc.io" title="Domain Investor Community">Domaincord</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="footer-bottom">
			<p>
				&copy; 2024 Croc Studios. All rights reserved. 
			</p>
		</div>
	</div>
</footer>
